h1 {
font-family: "Segoe UI", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
text-align: center;
}

.namakelas1 {
    color: #0288d1;
}

.namakelas2 {
   font-family:"Times New Roman", Times, serif;
    color: #94eb7a;
}